{% if lang == 'en' %} {% assign prefix = '/en' %} {% else %} {% assign prefix =
'' %} {% endif %}
<footer class="main-footer">
  <hr />
  <p>🌍 {{ t.footer.tagline }}</p>
  <p>
    {{ t.footer.quick_links }}: [<a
      href="{{ site.baseurl }}{{ prefix }}/packages/"
      >📦 {{ t.nav.packages }}</a
    >] [<a href="{{ site.baseurl }}{{ prefix }}/destinations/"
      >🏞️ {{ t.nav.destinations }}</a
    >] [<a href="{{ site.baseurl }}{{ prefix }}/wildlife/"
      >🦁 {{ t.nav.wildlife }}</a
    >] [<a href="{{ site.baseurl }}{{ prefix }}/hotels/"
      >🏨 {{ t.nav.hotels }}</a
    >] [<a href="{{ site.baseurl }}{{ prefix }}/blogs/">📝 {{ t.nav.blogs }}</a
    >]
  </p>
  <p>
    {{ t.footer.contact_us }}: 📧 info@balbinasafari.com | 💬 {{ t.nav.contact
    }}: baba-leo | 📱 WhatsApp: +255653486509
  </p>
  <p>
    {{ t.footer.hours }}: {{ t.footer.bj_time }} 14:00-22:00 | {{
    t.footer.tz_time }} 09:00-17:00 | {{ t.footer.response }}
  </p>
  <p>&copy; 2025 Balbina Safari. All rights reserved.</p>
</footer>
