// Colors
$bg-color: #0d1117;
$text-color: #b4bdba;
$link-color: #46b57d;
$link-hover-bg: #59e8b3;
$highlight-color: #ffa657;
$border-color: #30363d;
$card-bg: #161b22;

// Header Colors
$h1-color: #f57e38;
$h2-color: #e0c40b;
$h3-color: #82e333;

// Typography
$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
$base-font-size: 13px;
$line-height: 1.4;
