---
layout: default
---

{% include lang_init.html %}

<div>
  <h1>
    {{ page.title }} {% if current_lang == 'en' %} {% if page.title_cn %}<span>
      / {{ page.title_cn }}</span
    >
    {% endif %} {% else %} {% if page.english_title %}<span>
      / {{ page.english_title }}</span
    >
    {% endif %} {% endif %}
  </h1>

  <p>[{{ page.category }}]</p>
</div>

<div>
  <aside>
    <div>
      <h3>{{ strings.layout.hotel_facts }}</h3>

      <ul>
        <li>
          <span> 📍 {{ strings.layout.location }}:</span>
          {{ page.location }}
        </li>

        <li>
          <span> 💰 {{ strings.ui.level }}:</span>
          {{ page.price_level }}
        </li>
      </ul>
    </div>

    <div>
      <h3>🏨 {{ strings.layout.amenities }}</h3>

      <ul>
        {% for item in page.amenities %}
        <li>{{ item }}</li>

        {% endfor %}
      </ul>
    </div>
  </aside>

  <main>{{ content }}</main>
</div>
