---
layout: default
---

{% include lang_init.html %}

<div>
  <h1>{{ page.title }}</h1>

  <p>
    <span> 🔬 {{ page.scientific_name }}</span>
    |
    <span> 📂 {{ page.category }}</span>
    |
    <span> 🛡️ {{ page.conservation_status }}</span>
  </p>
</div>

<div>
  <aside>
    <div>
      <h3>{{ strings.layout.wildlife_facts }}</h3>

      <ul>
        <li>
          <span> {{ strings.layout.weight }}:</span>
          {{ page.weight }}
        </li>

        <li>
          <span> {{ strings.layout.length }}:</span>
          {{ page.length }}
        </li>

        <li>
          <span> {{ strings.layout.lifespan }}:</span>
          {{ page.lifespan }}
        </li>

        <li>
          <span> {{ strings.layout.habitat }}:</span>
          {{ page.habitat }}
        </li>
      </ul>
    </div>

    <div>
      <h3>🔍 {{ strings.layout.key_features }}</h3>

      <ul>
        {% for feature in page.key_features %}
        <li>{{ feature }}</li>

        {% endfor %}
      </ul>
    </div>

    {% if page.best_spots %}
    <div>
      <h3>📍 {{ strings.layout.best_spots }}</h3>

      <ul>
        {% for spot in page.best_spots %}
        <li>{{ spot }}</li>

        {% endfor %}
      </ul>
    </div>

    {% endif %}
  </aside>

  <main>{{ content }}</main>
</div>
<hr />
<div>
  <a href="{{ site.baseurl }}{{ prefix }}/wildlife/"> ← {{ strings.ui.back_to_wildlife }}</a>
</div>
